<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="static/tunnel.css">

    <meta charset="UTF-8">
    <title>hashgrab</title>
</head>
<body>
 <h3>
         Hashgrab
        </h3>
        <p>
            Search for #<br>
            <form action="/hashgrab" method="post" >
               Search: <input type="text" name="hash_name" id="hash_name"><input type="submit"  value="Submit" />
            </form>
        </p>


<br>
<h3>Hash tags are : </h3>
<br>

{{value}}

</body>

</html>